<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="app_version" content="v<%- process.env.npm_package_version %>">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Otecnya question</title>
</head>
<body>
    <div id="app">
        <noscript><h1>Please enable JavaScript to use it app</h1></noscript>
        <div>Loading <%= process.env.npm_package_name%>...</div>

        <div class="message-wait" style="display: none"><i>i</i> Please wait a moment.</div>

        <script>
            // setTimeout(() => {
            //     for (const el of document.querySelectorAll('.message-wait')) {
            //         el.style.display = "block"
            //     }
            // }, 2000)
            "use strict";setTimeout(function(){var _iteratorNormalCompletion=!0,_didIteratorError=!1,_iteratorError=void 0;try{for(var b,c,a=document.querySelectorAll(".message-wait")[Symbol.iterator]();!(_iteratorNormalCompletion=(b=a.next()).done);_iteratorNormalCompletion=!0)c=b.value,c.style.display="block"}catch(d){_didIteratorError=!0,_iteratorError=d}finally{try{!_iteratorNormalCompletion&&a.return&&a.return()}finally{if(_didIteratorError)throw _iteratorError}}},2e3);
        </script>

        <hr>

        <div><i><%= process.env.npm_package_name%> v<%= process.env.npm_package_version %> <%= process.env.npm_package_gitHead && `(${process.env.npm_package_gitHead.slice(0, 7)})` %></i></div>

    </div>
    <script src="app.js"></script>
</body>
</html>
